.common {
  border: none;
  background: none;
  color: #000;
  cursor: pointer;
}

.headerBtn.active {
  border-bottom: 3px solid #ff7d5a;
}

.lightmodeBtn {
}

.darkmodeBtn {
}

.trashBtn {
}

.addBtn {
}
